body{
    display: flex;
}

button {
    height: 5%;
}

p{
    padding: 10px;
    height: 10px;
    width: 100;
}

input{
    height: 1%;
    width: 100%;
    margin-bottom: 25%;
}

div{
    flex-wrap: wrap;
    flex-grow: 0;
}

header{
    display: flex;
}

.maxVect{
    height: 1%;
    width: 25%;
}